<mat-toolbar color="primary">
  <span>Resume Maker</span>
</mat-toolbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3" align="center">
      <h3>Start by editing the following template</h3>
    </div>
  </div>
  <hr/>
  <div class="row" style="background: white;">
    <div class="col-md-12" style="background: white;">
      <!-- <span contenteditable>
        Edit this content to add your own.
     </span>
     
      <p contenteditable>
        Click over me to edit.
     </p> -->
      <!-- <input [(ngModel)]="textBox"> -->
      <app-resume-template></app-resume-template>
    </div>
  </div>
</div>